.header {
  margin: auto;
  max-width: 70rem;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.active {
  background: black;
  color: white;
  font-weight: bold;
  padding: 10px;
}